.svn
/vc10
/ipch
/*.sdf
/*.opensdf
*.vcxproj.user
/*.suo
/compiled/*.pdb
/compiled/*.exe
/compiled/*.ilk
/compiled/Settings/*.sqlite*
/compiled/Settings/Certificates
/compiled/Settings/FileLists
/compiled/Settings/HubLists
/compiled/Settings/Logs
/compiled/Settings/*.bz2*
/compiled/Settings/*.xml*
/client/StringDefs.cpp
/EN_Example.xml